nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        border: 1px solid rgba(100, 100, 100, 0.589);
        box-shadow: #929292 0px 2px 5px -1px;
        padding: 0.4rem;
        border-radius: 5px;
        align-items: center;
        background-color: #ffffff;
        display: flex;
        &:hover{
            background-color: #27A599;
            color: white;
            transition: all 0.2s ease-in-out; 
        }
    }
    
    h1{
        display: flex;
    }
}
@media screen and (max-width: 768px){
    nav{
        button{
            z-index: 1;
        }
    }
}